.navbar-sticky {
	position: fixed;
	top: -3em;
	width: 100%;
	z-index: 2;
}

.progress{
	height: 5px;
}

.letta-image-sizer{
	object-fit: cover;
	height: 180px !important;
	width: 100%;
}

.letta-dropdown-login {
	width: 350px ;
	padding: 15px;
}

.letta-container-fluid {
	padding: 0;
}

.letta-navbar{
	margin-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.hr.letta-hr{
	border: 0; height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.letta-footer hr{
	border: 0; height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.letta-carousel{
	width: 100%;
}

.letta-footer,
.letta-footer a,
.letta-footer h3 {
	background: #0F2105;
	color: #D9D9DE;
	text-decoration: none;
	vertical-align: baseline !important;
}

.letta-footer a:hover{
	text-decoration: none;
	color: #ffffff;
}

.letta-footer-slogan {
	color: white;
	text-decoration: dashed;
}
.letta-second-footer{
	padding-top: 2%;
	padding-bottom: 10%;
}

.btn-primary,
.btn-primary:focus{
	background-color: #203f0e;
	border-color: #203f0e;
	color: white;
}
.btn-primary:hover{
	background-color: #305e15;
}

.letta-copyleft {
	display: inline-block;
	margin: 0;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
}
.letta-footer-logo{
	color: white;
	font-size: 200%;

}

.letta-language-select{
	border-radius: 6px;
	border: 1px solid #d9d9de;
	display: inline-block;
	cursor: default;
	padding: 10px 40px 10px 10px;
	position: relative;
	height: 40px;
	line-height: 20px;
	box-sizing: border-box;
	float: right;
}

.letta-language-select select {
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-appearance: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #0F2105;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	width: 100%;
}

.letta-footer ul{
	list-style: none;
}

.letta-footer li, .letta-footer span{
	text-align: left;
}

.letta-descubre-blinker{
	animation: blinker 2.0s linear infinite;
}

.no-gutter > [class *= 'col-'] {
	padding-left: 0;
	padding-right: 0;
}

.overlay{
	width:100%;
	height:100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.overlay a {
	position: relative;
	display: inline-block;
	top: 80%;
	margin: -50% 5px 0 0;
}
.letta-thumbnail-buttons-container{
	position: relative;
}

.letta-thumbnail-buttons-container:hover .overlay {
	display: block;
	background-color: black;
	opacity: 0.75;
	text-align: center;
}
.letta-thumbnail-buttons-container:hover a, .letta-thumbnail-buttons-container a{
	opacity: 1 !important;
}


@keyframes blinker {
	50% { opacity: 0.15; }
}


/*Mobile*/
@media (min-width: 1px) {

}

@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

$transition: cubic-bezier(0.250, 0.250, 0.660, 1.650);




// Variables
$height: 17em;
// TODO: make widths variables

// Wrapper
.showcase {
  position: relative;
  width: 90%;
  height: $height;
  margin: 1em auto;
  overflow: hidden;
  background: transparent;
}

// Thumbnails
.thumbnail {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 300px;
  z-index: 1;
  
  background: #293853;
  background-position: 50% 50%;
  background-size: cover;
  
  transition: right 250ms $transition, left 250ms $transition;
}

.thumbnail--awesome {
  background-image: url("http://fc05.deviantart.net/fs70/f/2010/102/9/0/Google_Chrome_Wallpaper_by_dreski1992.jpg");
}

.thumbnail__overlay {
  position: relative;
  padding-top: $height / 2 - 0.5em;
  height: 100%;
  
  background: rgba(0,0,0,0.1);
  
  text-align: center;
  
  opacity: 0;
  
  transition: opacity 250ms $transition;
}

// Description
.desc {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  
  background: white;
  
  text-align: center;
  
  transition: background 250ms $transition, color 250ms, width 250ms $transition, padding 250ms $transition;
  
  &:after {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #fff transparent transparent;
    content: "";
    transition: border-color 250ms;
  }
}

.showcase:hover {
  
  .thumbnail {
    right: 325px;
    left: -25px;
  }
  .thumbnail__overlay {
    opacity: 1;
  }
  .desc {
    width: 350px;
    padding-left: 45px;
    padding-right: 45px;
    
    background: #202426;
    
    color: #fff;
    
    &:after {
      border-color: transparent #202426 transparent transparent;
    }
  }
}


// Inverted Project
.showcase--inverted .thumbnail {
  right: 0;
  left: 300px;
}

.showcase--inverted .desc {
  left: 0;
  right: auto;
  
  &:after {
    left: auto;
    right: -20px;
    border-color: transparent transparent transparent #fff;
  }
}

.showcase--inverted:hover {
  
  .thumbnail {
    left: 325px;
    right: -25px;
  }

  .desc {
    
    &:after {
      border-color: transparent transparent transparent #202426;
    }
  }
}
