.letta-dropdown-login {
	width: 300px ;
	padding: 10px !important;
}

.letta-main-container{

}

.letta-container-fluid {
	padding: 0 !important;
}

.letta-navbar{
	margin-bottom: 0  !important;
}

.hr.letta-hr{
	border: 0; height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.letta-carousel{
	width: 100%;
}

.letta-footer, .letta-footer a{
	background: #3c763d;
	color: #ffffff;

}

.letta-footer ul{
	list-style: none;
}

.letta-footer li, .letta-footer span{
	text-align: left !important;
}

.letta-descubre-blinker{
	animation: blinker 0.95s linear infinite;
}

@keyframes blinker {
	50% { opacity: 0.15; }
}


/*Mobile*/
@media (min-width: 1px) {
	.letta-hide-on-mobile{
		display: none !important;
	}

	.letta-show-on-mobile{
		 display: inline !important;
	 }

	.modal-content{
		z-index: 500 !important;
	}

	.modal-backdrop{
		z-index: 300 !important;
	}
}

@media (min-width: 768px) {
	.letta-show-on-mobile{
		display: none !important;
	}
	.letta-hide-on-mobile{
		display: inline !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}