.letta-dropdown-login {
	width:300px ;
	padding: 10px !important;
}
.letta-navbar {
	background-color: #585858 !important;

}

.letta-navbar a, .letta-navbar a:visited{
	color: #bfbfbf !important;
	background-color: #585858 !important;
}

.letta-navbar a:hover {
	color: #FFF !important;
}


/*Mobile*/
@media (min-width: 1px) {
	.letta-hide-on-mobile{
		display: none !important;
	}

	.letta-show-on-mobile{
		 display: inline !important;
	 }
}

@media (min-width: 768px) {
	.letta-show-on-mobile{
		display: none !important;
	}
	.letta-hide-on-mobile{
		display: inline !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}